.clock {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
  border: 2px solid gold;
  padding: 5px;
}
.clock section {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  font-size: 2rem;
}
